@model FinalProject.Models.HomeViewModel
@{
    ViewBag.Title = "Index";
}
    <main>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12 category-title">
                        <h2>
                            Movies Category
                        </h2>
                    </div>
                    <div class="col-12 col-category p-0">
                        <div class="category-part">
                            @foreach (var category in Model.Genres)
                            {
                                <div class="category-row">
                                    <p>
                                        <a href="@Url.Action("CategoryProfile","Category", new { Id = category.Id })"> @category.Name (@category.MovieGenres.Count())</a>
                                    </p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
