@model FinalProject.Models.HomeViewModel
@{
    ViewBag.Title = "Index";
}
<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 category-title">
                    <h2>
                        Seans
                    </h2>
                </div>
                <div class="col-12 p-0">
                    <div class="cinema-part py-3 ">
                        @foreach (var seans in Model.Seans)
                        {
                            <div class="sinema-select my-3">
                                <div class="sinema-name">
                                    <h4><a href="@Url.Action("SeansProfile","Seans",new { Id = seans.Id })">@seans.Name</a></h4>
                                    <p class="ml-2">Address: @seans.Address</p>
                                </div>
                                <div class="sinema-image">
                                    <img src="/Public/image/cinema/@seans.Image" alt="cinema_@seans.Id">
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>

