/* 
==============================
SLIDER 
==============================
*/
.slider{
  position: relative;
  width:100%;
  height:350px;
  display: flex !important;
  flex-direction: row !important;
}
.slider-picture{
  position: relative;
  width:20%;
  height: 350px;
  border: 1px solid transparent
}
.slider-picture a img{
  position: absolute;
  width:100%;
  height:100%;
  object-fit: cover;
}
.slick-arrow{
  background-color:black !important;
  z-index:1;
}
.slick-prev{
 transform: translate(35px,0px);
}
.slick-next{
  transform: translate(-35px,0px);
 }
 /* 
==============================
SEARCH
==============================
*/
.row-select{
  background-image: url(../image/bgg.jpg) !important;
  padding:20px 0px;
}
.col-search{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
}
.col-select-category{
  width:100%;
  height:100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.col-select-year{
  width:100%;
  height:100px;
  display: flex;
  justify-content:flex-start;
  align-items: center;
}
.category-select{
  width:150px;
  height:40px;
  border-radius:8px;
  outline: none;
  padding-left:20px;
}
.year-select{
  width:150px;
  height:40px;
  border-radius:8px;
  outline: none;
  margin: 0px 15px 0px 15px;
  padding-left:45px;
}
/* 
===============================
MOVIES
=============================== 
*/
.row-poster{
  background-color: white;
}
.poster-title{
  height:120px;
  display:flex;
  justify-content: center;
  align-items: center;
  background-image: url(../image/bgg.jpg);
  background-repeat: repeat;
  color:white;
  margin:0px;
  padding:0px;
}
.movie-poster{
  width:100% ;
  height:330px ;
  margin-top:15px;
}
.base-poster{
  width:100% ;
  height:100% ;
  position: relative ;
}
.base-poster a img{
  width:100% ;
  height:100% ;
  object-fit: cover ;
  z-index: 5;
}
.shadow-image{
  width:100%;
  height:100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.712);
  opacity: 0;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
}
.base-poster:hover .shadow-image{
  opacity: 1;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}
.pagination a.active {
  background-color: dodgerblue;
  color: white;
}
.pagination a:hover:not(.active){
  background-color: #ddd;
}
.pagination{
  display:flex;
  justify-content: center;
  align-items: center;
}
/* 
=============================
CATEGORY
=============================
*/
.category-part{
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category-row{
  width:100%;
  height:45px;
  border-bottom:1px dotted white;
  line-height: 45px;
  background-image: url(../image/menu.png);
  font-size: 21px;
  padding-left:15px;
}
.category-row a{
  color:#07afed;
}
.category-row a:hover{
  text-decoration: none;
  color:#07b0edaf;
}
.category-title{
  width:100%;
  height:50px;
  display: flex;
  justify-content: center;
  background-color: #9b1111;
  color:white; 
  border:1px solid white;
}
/* 
=============================
IMDB
=============================
*/
.imdb-part{
  background-color: #9b1111;
}
.imdb-part a{
  color:white !important;
}
.top250-part{
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top250-row{
  width:100%;
  height:100px;
  border-bottom:1px dotted white;
  line-height: 45px;
  background-image: url(../image/menu.png);
  font-size: 21px;
  padding-left:15px;
  display: flex;
}
.top250-image{
  width:65px;
  height:80px;
  margin: auto;
}
.top250-image img{
  width:100%;
  height:100%;
  object-fit: cover;
}
.base-top250{
  width:100%;
  height:100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
  color:white;
}
.base-top250 a{
  color:white;
}
.base-top250 a:hover{
  color:white;
  text-decoration: none;
  cursor: pointer;
}
.base-top250 i{
  color:goldenrod
}
.base-top250 i>span{
  color:white !important;
  margin-left:6px;
}
/* 
=============================
Actors
=============================
*/
.row-actor{
  background-image: url(../image/menu.png);
}
.col-actor{
  width:100%;
  height:330px;
}
.actor-profile{
  width:100%;
  display: flex;
  justify-content: center;
}
.actor-image{
  width:220px;
  height:300px;
}
.actor-image img{
  width:100%;
  height:100%;
  object-fit: cover;
  cursor: pointer;
}
.actor-info{
  width:100%;
  display: flex;
  justify-content: flex-start;
}
.contain-info{
  width:100%;
  height:100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  color:#07afed;
  justify-content: space-between;
}
.movie-content{
  height:90% !important;
  justify-content: space-around !important;
}
.contain-info span{
  color:white !important;
}
.actor-wikipedia{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wiki-text{
  width:95%;
  height:90%;
  color:white;
}
.col-search-actor{
  height:300px;
  background-image: url(../image/parallax.jpg);
  background-attachment: fixed;
}
.search-actor{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:15px;
}
.search-actor-form input{
background-color: black;
width:250px;
height:40px;
color:white;
outline: none;
border:1px solid white;
margin-right:5px;
}
.search-actor-form button{
width:90px;
height:39px;
background-color: white;
border:transparent;
}
.search-actor-form button:focus{
  outline: none;
}
.base-actor-poster{
  position: relative;
  overflow: hidden;
}
.shadow-actor{
  width:100%;
  height:50px;
  position:absolute;
  background-color: black;
  top:100%;
  transition: all 0.9s;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shadow-actor a{
  color:white;
}
.shadow-actor a:hover{
  color:white;
  text-decoration: none;
}
.base-actor-poster:hover .shadow-actor{
  transform: translate(0px, -50px);
  opacity: 1;
}
/* 
=============================
CONTACT
=============================
*/
.contact-row {
	background:#F9F9F9;
}
#contact-form {
	text-shadow:0 1px 0 #FFF;
	border-radius:4px;
  padding:25px;
  width:100%;
}
#contact-form div{
  width:100%;
}
#contact-form h3 {
	color:#991D57;
	font-size:28px;
}
#contact-form h4 {
	margin:5px 0 15px;
	font-size:13px;
}
#contact-form label span {
	cursor:pointer;
	color:#991D57;
	margin:5px 0;
	font-weight:900;
}
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
  padding: 2px 5px;
  margin-bottom:15px;
	box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
  width:100%;
	border:1px solid #CCC;
	background:#FFF;
	border-radius:5px;
}
#contact-form input[type="text"]:hover,
#contact-form input[type="email"]:hover,
#contact-form input[type="tel"]:hover,
#contact-form input[type="url"]:hover,
#contact-form textarea:hover {
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}
#contact-form textarea {
	height:100px;
	width:100%;
}
#contact-form button[type="submit"] {
	cursor:pointer;
  width:160px;
  height:45px;
	border:none;
	background:#991D57;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
}
#contact-form button[type="submit"]:hover {
	background-image:linear-gradient(bottom, #9C215A 0%, #A82767 52%);
	transition:background-color 0.3s ease-in-out;
}
#contact-form button[type="submit"]:active {
	box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
#contact-form input:focus,
#contact-form textarea:focus {
	outline:none;
	border:1px solid #999;
}
.col-address{
  width:100%;
  height:550px;
}
.contact-address{
  width:100%;
  height:100%;
}
.map-head{
  width:100%;
  height:40%;
  display: flex;
  flex-direction:column;
  justify-content: space-around;
}
.map-head h4, .map-content h4{
  color:#991D57;
}
.map-content{
  width:100%;
  height:60%;
  display: flex;
  flex-direction: column;
}
.mapouter{
  width:100%;
  height:80%;
}
.mapouter div{
  width:100%;
  height:100%;
}
.mapouter div iframe{
  width:100%;
  height:100%;
} 
.contact-banner{
  background-color:#991D57;
}
/* 
=============================
VIDEO
=============================
*/
.video-part{
  display: flex;
  justify-content: center;
  background: url(../image/bg.png);
}
video:focus{
  outline:none;
}
.comment-part{
  width:100%;
  background-image: url(../image/menu.png)
}
.comment-form{
  width:100%;
  height:300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color:white;
}
.comment-form{
  width:100%;
}
.comment-input{
  width:100%;
  padding:6px 5px;
  border-radius:6px;
  border:1px solid transparent;
  display: block;
}
.comment-textarea{
  width:100%;
  padding:13px;
  border-radius:6px;
  border:1px solid transparent;
  display: block;
}
.comment-input:focus, .comment-textarea:focus{
  outline:none !important;
  border:2px solid #991D57 !important;
}
.comment-button{
  width:160px;
  height:50px;
  border-radius:7px;
  border-color:transparent;
  background-color:  #991D57;
  color:white;
  text-align: center;
  line-height: 50px;
}
.comment-button:hover{
  background-color: rgb(197, 37, 112);
  text-decoration: none;
  color:white;
}
.comment-button:focus{
  outline:none !important;
  border:2px solid #991D57 !important;
}
.show-comment{
  width:100%;
}
.main-comment{
  width:100%;
}
.comment-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #991D57
}
.comment-title span:nth-child(1){
  color: white;
}
.comment-title span:nth-child(2){
  background-color: white;
  padding:5px;
}
.comment-text{
  background-color: white;
}
/* 
=============================
SEANS
=============================
*/
.cinema-part{
  width:100%;
  background-image:url(../image/bg4.jpg);
}
.sinema-select{
  width:100%;
  padding:10px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(245, 245, 245, 0.267);
}
.sinema-name{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.sinema-name h4{
  color:rgb(14, 16, 141) !important;
 }
.sinema-name p{
 color:black !important;
}
.sinema-image{
  width:100px;
  height:100px;
}
.sinema-image img{
  width:100%;
  height:100%;
}
.col-seans{
  background-image: url(../image/menu.jpg);
}
.seans-part{
  width:100%;
}
.seans-image{
  width:100%;
}
.seans-main-image{
  width:500px;
  height:350px;
}
.seans-main-image img{
  width:100%;
  height:100%;
}
.seans-info{
  width:100%;
}
.contain-seans{
  width:100%;
}
.contain-seans span{
  color:black !important;
}
.contain-seans p{
  color:rgb(221, 18, 113) !important;
}
.col-table{
width:100%;
}
.table-success {
  height:200px;
}
.table-success td{
padding:15px 10px !important;
line-height: 30px;
}
/* 
=============================
FIXED BUTTON
=============================
*/
.simple-section {
  height: 2000px;
}
.scroll-top{    
  position: fixed;
  right: 35px;
  bottom: 40px;
  width: 40px;
  height: 40px;
  color: #fff;
  background: #991D57;
  line-height: 40px;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  display: none;
  z-index: 5;
}
.scroll-top:focus{
  outline: none;
}
.pagination li a{
  background-color: rgb(76, 76, 173);
  border:1px solid white;
  border-radius: 20%;
  text-decoration: none;
}
.row-pagination{
  background:white;
}