
@{
    ViewBag.Title = "Index";
}

<main>

<section>
   <div class="container">

       <div class="row">

           <div class="col-md-12 p-0 mt-1">
               <div class="back-picture">
                   <img src="~/Public/image/content/Joker.gif" alt="bg_01"/>
               </div>
           </div>
       </div>
   </div>
</section>

</main>

