
@{
    ViewBag.Title = "SeansTable";
}
<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 p-0 col-seans m-0">
                    <div class="seans-part ">
                        <div class="seans-image px-2 py-2">
                            <div class="seans-main-image">
                                <img src="/Public/image/cinema/azerbaijancinema2.jpg"
                                     alt="seans001">
                            </div>
                        </div>
                        <div class="seans-info ">
                            <div class="contain-info contain-seans mx-0  px-3">
                                <p><span> Name:</span> "Azerbaijan" CinemaPlus</p>
                                <p><span>Address:</span> Baku</p>
                                <p><span>Phone:</span> (012) 499 89 88</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mt-3 ">
            <div class="row">
                <div class="col-12 col-table p-0">
                    <div class="table-responsive-lg">
                        <table class="table table-sm table-bordered table-hover table-success ">
                            <thead>
                                <tr>
                                    <th scope="col">Movies</th>
                                    <th scope="col">Seans</th>
                                    <th scope="col">Hall</th>
                                    <th scope="col">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Point Blank</td>
                                    <td>16:30</td>
                                    <td>Hall 1</td>
                                    <td>5.00 AZN</td>
                                </tr>
                                <tr>
                                    <td>Point Blank</td>
                                    <td>18:30</td>
                                    <td>Hall 2</td>
                                    <td>4.50 AZN</td>
                                </tr>
                                <tr>
                                    <td>Point Blank</td>
                                    <td>22:00</td>
                                    <td>Hall 1</td>
                                    <td>5.00 AZN</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>

