@model FinalProject.Models.HomeViewModel
@{
    ViewBag.Title = "Index";
}
    <main>
        <section>
            <div class="container mt-1">
                <div class="row">
                    <div class="col-12 col-search-actor">
                        <div class="search-actor">
                            <form class="search-actor-form">
                                <input type="text" placeholder="Search Actors">
                                <button>Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row row-poster" id="page">
                    <div class="col-12 category-title">
                        <h2>
                            Most Popular Actors
                        </h2>
                    </div>
                    @foreach (var actor in Model.Actors)
                    {
                        <div class="col-md-3 movie-poster poster-item">
                            <div class="base-poster base-actor-poster">
                                <div class="shadow-actor">
                                    <a href="@Url.Action("ActorsProfile","Actors", new { Id = actor.Id })">@actor.Name</a>
                                </div>
                                <a href="@Url.Action("ActorsProfile","Actors", new { Id = actor.Id })"><img src="~/Public/image/actors/@actor.Image" alt="Actor_@actor.Id"></a>
                            </div>
                        </div>
                    }
                    <div class="col-12 my-3">
                        <ul class=pagination>
                            <li id="previous-page">
                                <a href="javascript:void(0)" class="pagination-item"
                                   aria-label=Previous><span aria-hidden=true>&laquo;</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
