
@{
    ViewBag.Title = "Top250";
}
    <main>
        <section>
            <div class="container">
                <div class="row row-pagination" id="page">
                    <div class="col-12 category-title">
                        <h2>
                            IMDB Top 250
                        </h2>
                    </div>
                    <div class="col-12 p-0 poster-item">
                        <div class="top250-part">
                            <div class="top250-row">
                                <div class="top250-image">
                                    <a href="@Url.Action("MoviesProfile","Home")"><img src="/Public/image/IMDB/MySonAndMyFather.jpg" alt="12"></a>
                                </div>
                                <div class="base-top250">
                                    <a href="@Url.Action("MoviesProfile","Home")"> <span>1.</span>The Shawshank Redemption (1994)</a>
                                    <i class="fa fa-star" aria-hidden="true"><span>9.3</span> </i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-0 poster-item">
                        <div class="top250-part">
                            <div class="top250-row">
                                <div class="top250-image">
                                    <a href="#"><img src="/Public/image/IMDB/MySonAndMyFather.jpg" alt="12"></a>
                                </div>
                                <div class="base-top250">
                                    <a href="#"> <span>1.</span>The Shawshank Redemption (1994)</a>
                                    <i class="fa fa-star" aria-hidden="true"><span>9.3</span> </i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-0 poster-item">
                        <div class="top250-part">
                            <div class="top250-row">
                                <div class="top250-image">
                                    <a href="#"><img src="/Public/image/IMDB/MySonAndMyFather.jpg" alt="12"></a>
                                </div>
                                <div class="base-top250">
                                    <a href="#"> <span>1.</span>The Shawshank Redemption (1994)</a>
                                    <i class="fa fa-star" aria-hidden="true"><span>9.3</span> </i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-0 poster-item">
                        <div class="top250-part">
                            <div class="top250-row">
                                <div class="top250-image">
                                    <a href="#"><img src="/Public/image/IMDB/MySonAndMyFather.jpg" alt="12"></a>
                                </div>
                                <div class="base-top250">
                                    <a href="#"> <span>1.</span>The Shawshank Redemption (1994)</a>
                                    <i class="fa fa-star" aria-hidden="true"><span>9.3</span> </i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-0 poster-item">
                        <div class="top250-part">
                            <div class="top250-row">
                                <div class="top250-image">
                                    <a href="#"><img src="/Public/image/IMDB/MySonAndMyFather.jpg" alt="12"></a>
                                </div>
                                <div class="base-top250">
                                    <a href="#"> <span>1.</span>The Shawshank Redemption (1994)</a>
                                    <i class="fa fa-star" aria-hidden="true"><span>9.3</span> </i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-0 poster-item">
                        <div class="top250-part">
                            <div class="top250-row">
                                <div class="top250-image">
                                    <a href="#"><img src="/Public/image/IMDB/MySonAndMyFather.jpg" alt="12"></a>
                                </div>
                                <div class="base-top250">
                                    <a href="#"> <span>1.</span>The Shawshank Redemption (1994)</a>
                                    <i class="fa fa-star" aria-hidden="true"><span>9.3</span> </i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-0 poster-item">
                        <div class="top250-part">
                            <div class="top250-row">
                                <div class="top250-image">
                                    <a href="#"><img src="/Public/image/IMDB/MySonAndMyFather.jpg" alt="12"></a>
                                </div>
                                <div class="base-top250">
                                    <a href="#"> <span>1.</span>The Shawshank Redemption (1994)</a>
                                    <i class="fa fa-star" aria-hidden="true"><span>9.3</span> </i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-0 poster-item">
                        <div class="top250-part">
                            <div class="top250-row">
                                <div class="top250-image">
                                    <a href="#"><img src="/Public/image/IMDB/MySonAndMyFather.jpg" alt="12"></a>
                                </div>
                                <div class="base-top250">
                                    <a href="#"> <span>1.</span>The Shawshank Redemption (1994)</a>
                                    <i class="fa fa-star" aria-hidden="true"><span>9.3</span> </i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-0 poster-item">
                        <div class="top250-part">
                            <div class="top250-row">
                                <div class="top250-image">
                                    <a href="#"><img src="/Public/image/IMDB/MySonAndMyFather.jpg" alt="12"></a>
                                </div>
                                <div class="base-top250">
                                    <a href="#"> <span>1.</span>The Shawshank Redemption (1994)</a>
                                    <i class="fa fa-star" aria-hidden="true"><span>9.3</span> </i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-0 poster-item">
                        <div class="top250-part">
                            <div class="top250-row">
                                <div class="top250-image">
                                    <a href="#"><img src="/Public/image/IMDB/MySonAndMyFather.jpg" alt="12"></a>
                                </div>
                                <div class="base-top250">
                                    <a href="#"> <span>1.</span>The Shawshank Redemption (1994)</a>
                                    <i class="fa fa-star" aria-hidden="true"><span>9.3</span> </i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-0 poster-item">
                        <div class="top250-part">
                            <div class="top250-row">
                                <div class="top250-image">
                                    <a href="#"><img src="/Public/image/IMDB/MySonAndMyFather.jpg" alt="12"></a>
                                </div>
                                <div class="base-top250">
                                    <a href="#"> <span>1.</span>The Shawshank Redemption (1994)</a>
                                    <i class="fa fa-star" aria-hidden="true"><span>9.3</span> </i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-0 poster-item">
                        <div class="top250-part">
                            <div class="top250-row">
                                <div class="top250-image">
                                    <a href="#"><img src="/Public/image/IMDB/MySonAndMyFather.jpg" alt="12"></a>
                                </div>
                                <div class="base-top250">
                                    <a href="#"> <span>1.</span>The Shawshank Redemption (1994)</a>
                                    <i class="fa fa-star" aria-hidden="true"><span>9.3</span> </i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-0 poster-item">
                        <div class="top250-part">
                            <div class="top250-row">
                                <div class="top250-image">
                                    <a href="#"><img src="/Public/image/IMDB/MySonAndMyFather.jpg" alt="12"></a>
                                </div>
                                <div class="base-top250">
                                    <a href="#"> <span>1.</span>The Shawshank Redemption (1994)</a>
                                    <i class="fa fa-star" aria-hidden="true"><span>9.3</span> </i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-0 poster-item">
                        <div class="top250-part">
                            <div class="top250-row">
                                <div class="top250-image">
                                    <a href="#"><img src="/Public/image/IMDB/MySonAndMyFather.jpg" alt="12"></a>
                                </div>
                                <div class="base-top250">
                                    <a href="#"> <span>1.</span>The Shawshank Redemption (1994)</a>
                                    <i class="fa fa-star" aria-hidden="true"><span>9.3</span> </i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-0 poster-item">
                        <div class="top250-part">
                            <div class="top250-row">
                                <div class="top250-image">
                                    <a href="#"><img src="/Public/image/IMDB/MySonAndMyFather.jpg" alt="12"></a>
                                </div>
                                <div class="base-top250">
                                    <a href="#"> <span>1.</span>The Shawshank Redemption (1994)</a>
                                    <i class="fa fa-star" aria-hidden="true"><span>9.3</span> </i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-0 poster-item">
                        <div class="top250-part">
                            <div class="top250-row">
                                <div class="top250-image">
                                    <a href="#"><img src="/Public/image/IMDB/MySonAndMyFather.jpg" alt="12"></a>
                                </div>
                                <div class="base-top250">
                                    <a href="#"> <span>1.</span>The Shawshank Redemption (1994)</a>
                                    <i class="fa fa-star" aria-hidden="true"><span>9.3</span> </i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-0 poster-item">
                        <div class="top250-part">
                            <div class="top250-row">
                                <div class="top250-image">
                                    <a href="#"><img src="/Public/image/IMDB/MySonAndMyFather.jpg" alt="12"></a>
                                </div>
                                <div class="base-top250">
                                    <a href="#"> <span>1.</span>The Shawshank Redemption (1994)</a>
                                    <i class="fa fa-star" aria-hidden="true"><span>9.3</span> </i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-0 poster-item">
                        <div class="top250-part">
                            <div class="top250-row">
                                <div class="top250-image">
                                    <a href="#"><img src="/Public/image/IMDB/MySonAndMyFather.jpg" alt="12"></a>
                                </div>
                                <div class="base-top250">
                                    <a href="#"> <span>1.</span>The Shawshank Redemption (1994)</a>
                                    <i class="fa fa-star" aria-hidden="true"><span>9.3</span> </i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-0 poster-item">
                        <div class="top250-part">
                            <div class="top250-row">
                                <div class="top250-image">
                                    <a href="#"><img src="/Public/image/IMDB/MySonAndMyFather.jpg" alt="12"></a>
                                </div>
                                <div class="base-top250">
                                    <a href="#"> <span>1.</span>The Shawshank Redemption (1994)</a>
                                    <i class="fa fa-star" aria-hidden="true"><span>9.3</span> </i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-0 poster-item">
                        <div class="top250-part">
                            <div class="top250-row">
                                <div class="top250-image">
                                    <a href="#"><img src="/Public/image/IMDB/goodbadugly.jpg" alt="12"></a>
                                </div>
                                <div class="base-top250">
                                    <a href="#"> <span>1.</span>The Shawshank Redemption (1994)</a>
                                    <i class="fa fa-star" aria-hidden="true"><span>9.3</span> </i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 my-3">
                        <ul class=pagination>
                            <li id="previous-page">
                                <a href="javascript:void(0)" class="pagination-item"
                                   aria-label=Previous><span aria-hidden=true>&laquo;</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
