
@{
    ViewBag.Title = "Index";
}
    <main>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12 category-title">
                        <h2>
                            Movies Category
                        </h2>
                    </div>
                    <div class="col-12 col-category p-0">
                        <div class="category-part">
                            <div class="category-row">
                                <p>
                                    <a href="#">3D(25)</a>
                                </p>
                            </div>
                            <div class="category-row">
                                <p>
                                    <a href="#">Action(50)</a>
                                </p>
                            </div>
                            <div class="category-row">
                                <p>
                                    <a href="#">Dram(100)</a>
                                </p>
                            </div>
                            <div class="category-row">
                                <p>
                                    <a href="#">Romantik(36)</a>
                                </p>
                            </div>
                            <div class="category-row">
                                <p>
                                    <a href="#">Fantastic(45)</a>
                                </p>
                            </div>
                            <div class="category-row">
                                <p>
                                    <a href="#">Horror(61)</a>
                                </p>
                            </div>
                            <div class="category-row">
                                <p>
                                    <a href="#">Comedy(13)</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
